.login {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.2) , rgba(0, 0, 0, 0.7) 90%) , url('../img/wp5556216.jpg');
}

.logo {
    width: 5vw;
}

.container-login {
    width: 40vw;
    height: 40vh;
    border: solid red 5px;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.container-login button {
    background-color: red;
    border-radius: 10px;
    padding: 8%;
}

.pinceau {
    background-image: url('../img/kisspng-black-and-white-brush-painting-brush-stroke-5abbda192e6fb1.4642533115222605051902.png');
    background-size: cover;
    width: 25vw;
    
}
