.login {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.2) , rgba(0, 0, 0, 0.7) 90%) , url('../img/wp5556216.jpg');
}

.logo {
    width: 5vw;
}

.pinceau {
    background-image: url('../img/kisspng-black-and-white-brush-painting-brush-stroke-5abbda192e6fb1.4642533115222605051902.png');
    background-size: cover;
    width: 25vw;
    
}

.login form {
    width: 38vw;
    height: auto;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 2%;
}

.login form .box-input {
    position: relative;
    display: flex;
    margin-top: 50px;

} 

.login form .box-input label {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-60%);
    font-size: 20px;
    color: rgb(161, 161, 161);
    transition: 0.4s ease-out;
    font-weight:500;
}

.login form .box-input:focus-within label,
.login form .box-input.animation label{
    top: 0px;
    transform: translateY(-100%);
}

.login form .box-input:focus-within input,
.login form .box-input.animation input{
    border-color: #ff0000;
}


.login form .box-input input {
    display: block;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    border-bottom: 3px solid #000000;
    padding: 2% 0%;
    transition: 0.4s ease-out;
    font-size: 100%;
    color: white;
}

.login form button {
    border: 2px solid rgb(255, 0, 0) ;
    color: rgb(255, 0, 0);
    width: auto;
    border-radius: 999px;
    padding: 2% 10%;
    background-image: linear-gradient(to right, black 50%, red 50%, rgb(255, 17, 17));
    background-size: 200%; 
    cursor: pointer;
    transition: 0.4s ease-out;
}

.login form button:hover {
    color: black;
    background-position: 100%;
    border: 2px solid black;
    transition: 0.4s ease-out;
}

.login form .error {
    animation: errorAnimation 1.5s;
}


@keyframes errorAnimation {

    0% {
        border-color: rgb(0, 0, 0);
    }

    20% {
        border-color: red;
    }

    40% {
        border-color: rgb(0, 0, 0);
    }

    60% {
        border-color: red;

    }

    80% {
        border-color: rgb(0, 0, 0);
    }
}






