nav {
    height: 100vh;
    width: 15vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2;
}

.nav-profil {
    height: 25vh;
    width: 100%;
}

.nav-fleche {
    width: 100%;
    height: 65vh;
}

.nav-info {
    width: 100%;
    height: 35vh;
}

.fleche_droit_nav {
    position: relative;
    left: 84%;
    bottom: 50vh;
    width: 30%;
}

.profiler {
    width: 30%;
}

.profiler p:hover {
    scale: 1.2;
}

.nav-photo-profil {
    width: 100%;
    border-radius: 50%;
   
}

.nav-item {
    margin: 20% 0% 20% 0%;
    /* padding-left: 12%; */
}

.nav-item:hover {
    color: rgb(129, 26, 26);
}