.select, .selectEpisodes {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.8) 10%, rgba(0,0,0,0.7) 20%,rgba(0,0,0,0.6) 30%, transparent 100%);
    position: fixed;
    backdrop-filter: blur(7px);
    top: 0px;
    overflow:auto;

}

.select-description {
    width: 35vw;
    height: 55vh;
    overflow: auto;
}

.select-poster {
    width: 25vw;
    object-fit: cover;
}

.box-genre {
    background-color: rgba(0, 0, 0, 0.7);
}

.select-box-croix {
    margin: 0%;
    padding: 0%;
}

.select-croix {
    width: 3vw;
}

.select-croix:hover{
    scale: 1.3;
}

.select-box-info {
    height: 78vh;
}

.select .archiver {
    width: 50px;
    height: 50px;
    padding-left: auto;
    padding-right: auto;
    margin-top: 15%;
}

.select-archiver {
    margin-top: 30%;
}

.select-archiver:hover {
    scale: 1.2;
}